.gallery{
    height: 200px;
    /*width: 300px;*/
    text-align: center;
    margin:10px;
}


#one{
    height: 430px;
    width: 600px;
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
}

#two{
    margin-bottom: 13%;
    height: 250px;
    width: 200px;
    position: relative;
}

#three{
    margin-bottom: 13%;
    height: 250px;
    width: 200px;
    position: relative;
}

#four{
    height: 155px;
    width: 190px;
    margin-top: 20%;
    position: absolute;
    margin-left: -440px;
    margin-top: 300px;
    
}

#five{
    position: absolute;
    height: 155px;
    width: 100px;
    margin-top: 300px;
    margin-left: -245px;
    
}
#six{
    position: absolute;
    height: 255px;
    width: 160px;
    margin-top: 23px;
}

#seven{
    position: absolute;
    margin-top: 300px;
    height: 155px;
    width: 100px;
    margin-left: -140px;
}

#eight{
    position: absolute;
    height: 155px;
    width: 100px;
    margin-top: 300px;
    margin-left: -35px;
}

#nine{
    position: absolute;
    height: 155px;
    width: 100px;
    margin-top: 300px;
    margin-left: 70px;
    
}

#ten{
    position: absolute;
    margin-top: 480px;
    margin-left: -1060px;
    height: 300px;
}

#eleven{
    position: absolute;
    height:300px;
    margin-top: 480px;
    margin-left: -840px;
}

#twelve{
        position: absolute;
    margin-top: 480px;
    height: 250px;
}

#thirteen{
    
}

#fourteen{
    
}

#fifteen{
    
}

#sixteen{
    
}

#seventeen{
    
}