h1{
    color: black;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size:72px;
}
.lightGray{
    background-color: #E0E0E0;
    color: black;
}
.darkGray{
    background-color: #BDBDBD;
    color: white;
}

.col-xs-1 {
    background-color:OrangeRed;
    border: solid;
}

.col-xs-2 {
    background-color:SteelBlue  ;
    border: solid;
}

.col-xs-3 {
    
}

.col-xs-4 {
    background-color:LightYellow ;
    border: solid;
}

.col-xs-5 {
    background-color:blue;
    border: solid;
}

.col-xs-6 {
    background-color: LightSalmon ;
    border: solid;
}

.col-xs-7 {
    background-color: brown;
    border: solid;
}

.col-xs-8 {
    background-color:LightSeaGreen ;
    border: solid;
}

.col-xs-9 {
    background-color:black;
    border: solid;
}

.col-xs-10 {
    background-color:brown;
    border: solid;
}

.col-xs-11 {
    background-color:white;
    border: solid;
}

.col-xs-12 {
    background-color:white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #9B51E0;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

#footer{
    width:300px;
    position:fixed;
    bottom:10px;
    left:50%;
    margin-left:-150px;
}

ul.nav-pills > li{
    width: 24.88%;
    text-align: center;
}

#home-pg-cake{
    width:100%;
}
#flourish-left, #flourish-right{
    width:225px;
    display:inline-block;
}
#flourish-left{
    float:left;
    margin-left:10%;
}
#flourish-right{
    float:right;
    margin-right:10%;
}
#link-home:visited, #link-home:link, #link-home:active, #link-home:hover{
    text-decoration: none;
    color:black;
}

.gallery{
    height: 200px;
    width: 300px;
    text-align: center;
}

#map{
    float:right;
    margin-right:5%;
    margin-bottom: 5%
}

.address{
    float:left;
    margin-left: 5%;
    font-family: 'Lancelot', cursive;
    font-size:24px;
    margin-top:10%;
}

#one{
    height: 300px;
    width: 500px;
    margin-left: 5%;
}

#two{
    
}

#three{
    
}

#four{
    
}

#five{
    
}
#six{
    
}

#seven{
    
}

#eight{
    
}

#nine{
    
}

#ten{
    
}

#eleven{
    
}

#twelve{
    
}

#thirteen{
    
}

#fourteen{
    
}

#fifteen{
    
}

#sixteen{
    
}

#seventeen{
    
}