h1{
    color: black;
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-size:72px;
}
h3{
    font-family: 'Grand Hotel', cursive;
    font-size:40px;
}
h5{
    font-family: 'Grand Hotel', cursive;
}
@media(max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

p, label, input{
    font-family: 'Lancelot', cursive;    
    font-weight:600;
}

body{
    overflow-x: hidden;
}

/*Header Elements*/

.lightGray{
    background-color: #E0E0E0;
    color: black;
}
.darkGray{
    background-color: #BDBDBD;
    color: black;
}
#shopping-cart{
    height:50px;
    float:right;
    /*margin-right:2%;*/
}
#navBar{
    width:100%;
    padding:0;
    margin:0;
    border:0;
}
#navbarCollapsed{
    width:50px;
    height: 30px;
    float:left;
}
.icon-bar{
    background-color: black;
}
.nav-font{
    font-family: 'Lancelot', cursive;
    font-weight:bold;
    color:black;
    font-size:25px;
}
#under-flourish{
    width:300px;
    display:block;
    margin:0 auto;
    margin-top:-80px;
}
#logo{
    width:800px;
    margin:0 auto;
}
@media(max-width: 768px) {
    .nav-font{
        font-size: 20px;
        height:40px;
    }
    #shopping-cart{
        height:25px;
    }
}

/*Footer Elements*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
    opacity:0.8;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #9B51E0;
    color: white;
}
.fa-pinterest {
    background: #cb2027;
    color: white;
}
#footer{
    width:300px;
    position:fixed;
    bottom:10px;
    left:50%;
    margin-left:-150px;
}
@media(max-width: 768px) {
    .fa{
        padding: 10px;
        font-size: 15px;
        width: 32px;
    }
    #footer{
        width:225px;
        margin-left:-112.5px;
    }
}



/*Home page only*/

#homeCarousel{
    margin-top:-15px;
}
#homeCarousel img {
    margin: 0 auto;
}
#reviews{
    margin-top:10%;
}
#reviews p{
    text-align: center;
    font-size:25px;
}
#spacer{
    height:50px;
}
#homeFooter{
    width:100px;
    margin-top:5%;
}
#homeFooter >.fa{
    margin-top:20px;
}
@media(max-width: 768px) {
    .reviewsText{
        font-size: 12px;
    }
    #homeFooter{
    bottom: 10px;
    left: 50%;
    width:250px;
    margin-left:-125px;
    }
}


/*About page only*/

#aboutPgImg{
    display:block;
    margin:0 auto;    
    height:500px;
 /*   border: 1px dashed #ddd;*/
	/*box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;*/
	padding:5px;
    background: #3a3a3a;
    border: 2px dotted black;
    border-radius:7px;
}
#aboutUsImgDiv{
    margin-top: -10px;
    margin-bottom:20px;
}
#aboutUs{
    font-size:25px;
    text-align: justify;
    text-justify: inter-word;
    width:70%;
    display:block;
    margin:0 auto;
    /*margin-bottom: 70px;*/
}
.Spacer{
    height:100px;
}
@media(max-width: 768px) {
    #aboutUs{
        font-size: 18px;
    }
    #aboutPgImg{
        height:250px;
    }
}


/*Contact page only */

#contactForm{
    height:500px;
}
.address{
    font-family: 'Lancelot', cursive;
    font-size:24px;
}
#map{
    height:500px;
    width:100%;
    padding:5px;
    background: #3a3a3a;
    border: 2px dotted black;
    border-radius:7px;
}
#message{
    height:150px;
    width:100%;
}
.contactLabel{
    font-size:20px;
}
#contactSubmit{
    font-family: 'Lancelot', cursive;
    font-size:20px;
    background-color: white;
    border: 2px dotted black;
    border-radius:5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#contactSubmit:hover{
    color:white;
    background:#3a3a3a;
    border:2px dotted black;
}
@media(max-width: 768px) {
    #map{
        height:300px;
        width:95%;
    }
    .address, .contactLabel, .input{
        font-size:18px;
        text-align:center;
    }
    #email{
        margin-bottom:100px;
    }
    #contactForm{
        margin:0 auto;
    }
    #message{
        width:95%;
    }
    h3{
        font-size:36px;
        text-align:center;
    }
}
@media(max-width:992px){
    .address{
        text-align:center;
    }
    #contactForm{
        margin:0 auto;
    }
}



/*Order page only*/


.description{
    font-size:30px;
}
.descriptionBtn{
    font-family: 'Lancelot', cursive; 
    font-size:22px;
    width:100px;
    background-color: white;
    border: 2px dotted black;
    border-radius:5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.descriptionBtn:hover, .continueShopping:hover, .goToCheckout:hover, .checkout:hover, #customSubmit:hover{
    color:white;
    background:#3a3a3a;
    border:2px dotted black;
}
.img-thumbnail{
    background:#3a3a3a;
    border:2px dotted black;
}
.orderOption, .orderDes{
    margin-bottom:20px;
    margin-top: 20px;
}
.orderOption img{
    height:300px;
}
.modal p, label, input{
    font-size:20px;
}
.modal h1{
    font-size:50px;   
}
.modalImg{
    height:300px;
    display:block;
    margin:0 auto;
    padding:5px;
    background: #3a3a3a;
    border: 2px dotted black;
    border-radius:7px;
 /*   border: 1px dashed #666;*/
	/*box-shadow: 0 0 0 3px #444, 0 0 0 5px #666, 0 0 0 10px #444, 0 0 2px 10px #555;*/
	margin-bottom:10px;
}
.modal-header{
    height:95px;
}
.modalDes{
    text-align: center;
}
#qty{
    width:60px;
}
.checkout{
    background-color: white;
    border: 2px dotted black;
    border-radius:5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
}
.continueShopping, .goToCheckout, #customSubmit{
    font-family: 'Lancelot', cursive;    
    font-weight:600;
    font-size:20px;
    background-color: white;
    border: 2px dotted black;
    border-radius:5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.goToCheckout{
    float:right;
}
.continueShopping{
    float:left;
}
.modal a:link, a:hover, a:visited, a:active{
    color:inherit;
}
@media(max-width: 768px) {
    .description {
        font-size: 18px;
    }
    .descriptionBtn{
        font-size:14px;
    }
    .orderOption img{
        height:200px;
    }
    .orderOption, .orderDes{
        margin:0 auto;
        text-align:center;
        margin-top: 10px;
    }
    .modal h1{
        font-size:36px;
    }
}
@media(max-width:992px){
    .orderOption, .orderDes{
        text-align:center;
    }
}

/*Checkout Page only*/

#orderSummary{
    border-image:url(http://www.pngall.com/wp-content/uploads/2016/04/Decorative-Border-PNG-Clipart-180x180.png) 30 round;
    /*height:90%;*/
    /*width:90%;*/
    margin:0 auto;
    /*border:1px dashed black;*/
}
#orderSummary img{
    height:300px;
}
#orderSummary p{
    font-size:25px;
}
.orderSumDes{
    margin-top:10%;
}
#orderTotal{
    font-size:36px;
    text-align:center;
}
.orderRows{
    margin-bottom:20px;
}
#placeOrder{
    font-family: 'Lancelot', cursive;    
    font-weight:600;
    font-size:20px;    
    background-color: white;
    border: 2px dotted black;
    border-radius:5px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
#placeOrder:hover{
    color:white;
    background:#3a3a3a;
    border:2px dotted black;
}
#placeOrderDiv{
    text-align:center;
}
#cakeIcon, #cookieIcon{
    height:50px;
}
#cupcakeIcon{
    height:55px;
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.fade-in-bck {
	-webkit-animation: fade-in-bck 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@media(max-width: 768px) {
    #orderSummary img{
        height:200px;
    }
    #orderSummary p{
        font-size:20px;
    }
    .orderSumDes{
        margin-top:0;
    }
    #orderTotal{
        font-size:30px;
    }
}
@media(max-width:992px){
    #orderSummary{
        text-align:center;
    }
}