h1{
    color: black;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size:72px;
}

p{
    font-family: 'Lancelot', cursive;    
}

body{
    overflow-x: hidden;
}

/*Header Elements*/

.lightGray{
    background-color: #E0E0E0;
    color: black;
}
.darkGray{
    background-color: #BDBDBD;
    color: white;
}
#link-home:visited, #link-home:link, #link-home:active, #link-home:hover{
    text-decoration: none;
    color:black;
}
#flourish-left, #flourish-right{
    width:225px;
    display:inline-block;
}
#flourish-left{
    float:left;
    margin-left:10%;
}
#flourish-right{
    float:right;
    margin-right:10%;
}
#shopping-cart{
    height:30px;
    float:right;
    margin-right:2%;
}
ul.nav-pills > li{
    width: 24.8895%;
    text-align: center;
}
.nav-font{
    font-family: 'Lancelot', cursive;
    color:black;
    font-size:25px;
}
#under-flourish{
    width:300px;
    display:block;
    margin:0 auto;
    margin-top:-83px;
}



/*Footer Elements*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
    opacity:0.8;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
  background: #9B51E0;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
#footer{
    width:300px;
    position:fixed;
    bottom:10px;
    left:50%;
    margin-left:-150px;
}




/*Home page only*/

#home-pg-cake{
    width:100%;
}

/*About page only*/

#aboutPgImg{
    display:block;
    margin:0 auto;    
}
#aboutUsImg{
    margin:10px;
}
#aboutUs{
    font-size:25px;
    text-align: justify;
    text-justify: inter-word;
    width:70%;
    display:block;
    margin:0 auto;
    margin-bottom: 40px;
}

/*Contact page only */

#map{
    float:right;
    margin-right:5%;
    margin-bottom: 5%
}
.address{
    float:left;
    margin-left: 5%;
    font-family: 'Lancelot', cursive;
    font-size:24px;
    margin-top:10%;
}

/*Order page only*/


.description{
    font-size:30px;
}
.descriptionBtn{
    font-family: 'Lancelot', cursive; 
    font-size:15px;
    
}
.orderDes{
    margin-right:15px;
}
.modal p{
    font-size:20px;
}
.modal h1{
    font-size:50px;   
}
.modalImg{
    height:300px;
    display:block;
    margin:0 auto;
    border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
	margin-bottom:10px;
}
.checkout{

}